name: A workflow for my Hello World App
on: push

jobs:
  Tests:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Tests
        run: |
          docker build -t database ./db 
          docker run --name world -dp 33060:3306 database
          mvn test
          docker stop world
          docker rm world
          docker image rm database 

  build:
    name: Group Project action
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn package -DskipTests
      - name: Run Docker Compose
        run: docker compose up --abort-on-container-exit
