name: A workflow for my Hello World App
on: push

permissions:
  contents: write

jobs:
  Tests:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Run tests (Docker Compose)
        run: docker compose up --abort-on-container-exit tests

  build:
    name: Group Project action
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn package -DskipTests
      - name: Run App (Docker Compose)
        run: docker compose up --build --abort-on-container-exit app
      - name: Publish JAR to GitHub Release
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          automatic_release_tag: latest
          files: |
            ./target/*-jar-with-dependencies.jar
